{%extends "base.html"%}

{%block content%}
{% load static %}
		<main class="app-main"><!-- .app-main -->
			<div class="wrapper"><!-- .wrapper -->
				<div class="page">
					<div class="masonry-layout">
					  <!-- .masonry-item -->
					  <div class="masonry-item col-lg-12 pt-5">
						<!-- .card -->
						<div class="card card-fluid u-profile">
						 <div class="card-body pt-2">
							<!-- grid row -->
							<div class="row align-items-center mb-3">
							  <!-- grid column -->
							  <div class="col-auto">
								<!-- .user-avatar -->
								<a href="javascript:;" class="user-avatar user-avatar-floated user-avatar-xl"><img src="https://www.bimabook.in/public/user.png" alt=""></a> <!-- /.user-avatar -->
							  </div><!-- /grid column -->
							  <!-- grid column -->
							  <!-- .col -->
							  <div class="col">
								<h3 class="card-title">
								  <a href="javascript:;">Demo</a>
								</h3>
								<h6 class="card-subtitle text-muted"> DEMO </h6>
							  </div><!-- /.col -->
							  <!-- /grid column -->
							  <!-- grid column -->
							  <div class="col-md-4 col-lg-4 col-sm-12 text-right mt-2">
								<a href="javascript:;" class="btn btn-outline-secondary">Joining Date 13/11/2021</a>
							  </div><!-- /grid column -->
							</div><!-- /grid row -->
							<!-- grid row -->
						  </div><!-- /.card-body -->
						</div><!-- /.card -->
					  </div><!-- /.masonry-item -->
					</div><!-- /.masonry-layout -->
					<!-- .page-navs -->
					<nav class="page-navs">
					  <!-- .nav-scroller -->
					  <div class="nav-scroller">
						<!-- .nav -->
						<div class="nav nav-tabs">
							<a class="nav-link " href="index.php?tab=profile">Profile</a>
							<a class="nav-link active" href="">Bank Details</a> 
						</div><!-- /.nav -->
					  </div><!-- /.nav-scroller -->
					</nav><!-- /.page-navs -->
					<div class="page-inner">
	<!-- .page-section -->
	<div class="page-section">
		<!-- .card -->
		<div class="card card-fluid">
			<div class="card-header">
				Banks Account Numbers
				<button data-toggle="modal" data-target="#mdlbanks" class='btn btn-secondary btn-sm float-right'><i class="fa fa-plus"></i> Add New</button>
			</div>
            {% for value in data %}
			<div class="card-body">
				<!-- .table -->

				<div class="table-responsive">
					<table id="tblList" class="table table-bordered1">
						<thead>
							<tr>
								<th>Sr. No.</th>
								<th>Beneficiary Name</th>
								<th>A/C No.</th>
								<th>Bank Name</th>
								<th>#</th>
							</tr>
						</thead>
						<tbody>
																<tr>
										<td>1</td>
										<td>{{value.beneficiary_name}}</td>
										<td>{{value.acc_no}}</td>
										<td>{{value.bank_name}}</td>
										<td>
											<a class="mr-1 btn btn-sm btn-icon btn-secondary" data-url="q1+AEoFtrlOzSuNNZQSHbaHVk4Gr6hgGKfuk1aD1YRdm39ZpHA675aq5GLxa4teUj+zseHXqnwsoSdVCjVgY8iFVPwRtrfotbUY3bsY2vfXxDbETKPDyqvhBRderhxid" title='Remove' onclick="remove(this);">
												<i class="fa fa-trash-alt text-danger" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
														</tbody>
					</table>
				</div>
                {% endfor %} 
			</div><!-- /.card-body -->
		</div>
		<div class="modal fade" id="mdlbanks" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="inscompModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"> Add New Bank </h5>
					</div>
					<form method="post" autocomplete="off" data-parsley-validate="true" name="frmbank">
						<div class="modal-body">
							<div class="form-group">
								<label class="form-label" >Beneficiary Name<em class="text-danger">*</em></label>
								<input type="text" class='form-control' data-parsley-pattern="^(?:[A-Za-z]+[- ])*[A-Za-z]+$" data-parsley-required="true" name="beneficiary_name" id="beneficiary_name">
								<input type="hidden" name="csrf_token" data-parsley-required="true" value="e6132bfd54cf53401beb0b36be3225c7" readonly />
							</div>
							<div class="form-group">
								<label class="col-form-label" >Account Number<em class="text-danger">*</em></label>
								<input type="text" class="form-control " placeholder="Only numeric & maximum 18 digit" data-parsley-required="true" data-parsley-error-message="Only Numeric Value" data-parsley-minlength="10" data-parsley-maxlength="18" data-parsley-pattern="^[0-9]+$" name="account_number" maxlength="18">
							</div>
							<div class="form-group">
								<label class="col-form-label" >Bank Name<em class="text-danger">*</em></label>
								<input type="text" class='form-control' data-parsley-pattern="^(?:[A-Za-z]+[- ])*[A-Za-z]+$" data-parsley-required="true" name="bank_name" id="bank_name">
							</div>
						</div>
						<div class="modal-footer">
							<div class="custom-control custom-control-inline custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="ckreload"> <label class="custom-control-label" for="ckreload">Stay on this page after Save.</label>
							</div>
							<button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">Close</button>
							<button type="submit" name="bank_add"  class="btn btn-primary w-100p" >Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="mdlbanksdel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="ModalLabel" class="modal-title" >Confirmation</h5>
					</div>
					<div class="modal-body">
						<p>Do you want to Remove Selected Bank Details</p>	
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary w-100p" data-dismiss="modal">No</button>
						<input type="submit" id="bank_remove" class="btn btn-primary w-100p" value="Yes">
						<input type="hidden" id="bankid" readonly>
					</div>
				</div>
			</div>
		</div>						
	</div><!-- /.page-section -->
</div><!-- /.page-inner -->				</div><!-- /.page -->
			</div><!-- /.wrapper -->
      </main><!-- /.app-main -->
    </div><!-- /.app -->
    <div class="modal modal-alert fade" id="ModalAlertError" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalAlertErrorLabel" aria-hidden="true">
	<!-- .modal-dialog -->
	<div class="modal-dialog" role="document">
	  <!-- .modal-content -->
	  <div class="modal-content">
		<!-- .modal-header -->
		<div class="modal-header">
			<h5 class="modal-title">
			<i class="fa fa-exclamation-triangle text-red mr-1"></i> System Error </h5>
		</div><!-- /.modal-header -->
		<!-- .modal-body -->
		<div class="modal-body">
		  <p>The Code Execution cannot proceed due to system error, retry after refreshing the page if the error remains the same, you need to contact your Administrator immediately.</p>
		</div><!-- /.modal-body -->
		<!-- .modal-footer -->
		<div class="modal-footer">
		  <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
		</div><!-- /.modal-footer -->
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- BEGIN BASE JS -->
<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>  <!-- END BASE JS -->
<!-- BEGIN PLUGINS JS -->
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'js/stacked-menu.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.min.js'%}"></script> <!-- END PLUGINS JS -->
<!-- Parsley -->
<script src="{%static 'js/parsley.js' %}"></script>
<!-- BEGIN THEME JS -->
<script src="{%static 'js/theme.js' %}"></script> 
<script src="{%static 'js/toastr.min.js' %}"></script>
<script src="{%static 'js/flatpickr.min.js' %}"></script>
<script src="{%static 'js/select2.full.min.js' %}"></script>
<script src="{%static 'js/moment.js' %}"></script>
<script src="{%static 'js/mask-as-number.min.js' %}"></script>
<script src="{%static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{%static 'js/jquery.form.js' %}"></script>
<script src="{%static 'js/custom.min.js' %}"></script>
	<script src="{%static 'js/profile.js' %}"></script>
		<script>
		$('#tblList').DataTable({
		"dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n  <'table-responsive'tr>\n        <'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
		"language": {
		  paginate: {
			previous: '<i class="fa fa-lg fa-angle-left"></i>',
			next: '<i class="fa fa-lg fa-angle-right"></i>'
		  }
		},
		"bLengthChange": false,
		"searching": false,
		"autoWidth" : true,
		"statesave": true,
		"ordering": false,
		"info": false,
		"paging": false,
		"columnDefs": [
			{targets: [0],className: "text-center nowrap w-10pc"},
			{targets: [4],className: "text-center w-10pc nowrap",orderable: false},
		],
	});
	</script>
		</body>
</html>
{%endblock%}